
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* style de la zone de texte */
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-right: 10px;
  }

  /* style du bouton */
  button[type="submit"] {
    background-color: #4ea9bd;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.divCentre {
    position: flex;
    flex-direction: column;
}

.enRouge {
    color: red;
}