@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Kanit&display=swap');

/*  __________________________________________________________________________ */
/* |                                 PAGE URL                                 |*/
/* |__________________________________________________________________________|*/

body {
  background-color : white;
  font-family: 'Fjord One';
  color : white;
}

.logo {
  width: 130px;
  height: 128px;
  left: 1279px;
  top: 34px;

  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.menu {
  top : center;
  background-color: #263C5B;
  box-shadow: 7px 4px 7px rgba(0, 0, 0, 0.25);
}

/* "Connexion à votre Dolistats" */
.titre {
  font-family:'Kanit';
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}
.sousTitre {
	text-align: center;
}

/* Ecran tablette */
@media (max-width: 1280px) {
	.menu {
		width: 559px; 
		margin-left: 15%;
	}
	.titre {
		margin-top: 10px;
		font-size:3em;
	}
  input[type="text"] {
    width: 250px;
    font-size: 14px;
    margin-left: 19%;
  }
  .sousTitre {
    font-size: 1em;
  }
}

/* Ecran téléphone */
@media (max-width: 800px) {
	.menu {
		width: 459px; 
		margin-left: 3%;
	}
	.titre {
		margin-top: 10px;
		font-size:2.2em;
	}
  .sousTitre {
    text-align: center;
    font-size: 1em;
  }
  input[type="text"] {
    width: 200px;
    font-size: 12px;
    margin-left: 17%;
  }
}

/* Ecran ordinateur */
@media (min-width: 1281px) {
	.menu {
		width: 700px; 
    margin-left: 27%;
	}
	.titre {
		margin-top: 15px;
		font-size:5em;
	}
  .sousTitre {
    font-size: 1.2em;
  }
  /* style de la zone de texte */
  input[type="text"] {
    width: 300px;
    font-size: 16px;
    margin-left: 22%;
  }
}

div {
  margin-bottom: 5px;
}
  /* style de la zone de texte */
  input[type="text"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
  }

  /* style du bouton */
  button[type="submit"]{
    background-color: #4ea9bd;
    font-size: 16px;
    color : white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

.enRouge {
    color: red;
}

.url {
  text-align: center;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

.supprimer {
  background-color: #4ea9bd;
    font-size: 16px;
    color : white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}